<!-- MAIN start -->
<main class="home-section">
  <section class="box">
    <header class="content">
      <h1>
        <span>Hola</span>
        <br />
        I'm <span>Antonella.</span>
      </h1>
      <p class="welcome-msg">
        I'm a <strong>Front-End Web Developer</strong> based in Dublin and
        this is my online portfolio!
      </p>
    </header>
  </section>

  <section class="box">
    <!-- NAVIGATION start -->
    <section class="content navigation">
      <!-- ABOUT nav btn start -->
      <div class="box" *ngFor="let nav of homeNav">
        <a routerLink="{{nav.link}}" class="content flip-card flip-{{nav.flipDirection}}">
          <h2 class="card-front bg-pink-{{nav.colorValue}}">
            {{nav.heading}}
          </h2>
          <span class="card-back flip-right">
            {{nav.heading}}
          </span>
        </a>
      </div>
      <!-- ABOUT nav btn end -->
    </section>
    <!-- NAVIGATION end -->
  </section>
</main>
<!-- MAIN end -->