<app-section-header></app-section-header>

<!-- MAIN start -->
<main>
    <section class="box">
      <div class="content about-bg-square"></div>
    </section>

    <app-section-mini-nav [currentSection]="'/about'"></app-section-mini-nav>
    
    <section class="box">
      <div class="padding-content content text-white bg-pink-100">
        <h2>Who I am ?</h2>
        <section>
          <p>
            Hola! I’m <strong>Antonella.</strong><br />
            I’m an Argentinian <strong>Front-End Developer</strong> and I
            have moved to <strong>Dublin</strong> in early 2019.
          </p>
          <p>
            I’ve been traveling around the world, living in Australia,
            Germany, and Spain, where I did temporary jobs while searching
            for something to study. I started coding back in 2018 on my own,
            learning from every course I could catch online and it was
            finally in 2019 when I had the chance to find a place at Finglas
            Training Centre, where I completed a traineeship as a front-End
            Web Developer for 1 year.
          </p>
          <p>
            In the time I’ve spent studying Web Development I’ve learned the
            main languages:<strong> HTML</strong>, <strong>CSS</strong> and
            <strong>JavaScript</strong>, and also I’ve got some experience
            with libraries such as <strong>React</strong> and
            <strong>jQuery</strong>.
          </p>
          <p>
            Of course, this is just the beginning I know I have a lot to
            learn and I’m looking forward to finding a challenging position
            within an exciting environment where I will be able to continue
            learning to enhance my work experience and my abilities.
          </p>
          <p>
            If you have any inquery or project
            <a routerLink="/contact" class="link-light">get in touch </a>!
          </p>
        </section>
      </div>
    </section>
  </main>
  <!-- MAIN end -->