<app-section-header></app-section-header>

<!-- MAIN start -->
<main>
  <section class="box">
    <div class="content flip-card flip-gallery">
      <div class="work-bg-square card-front"></div>

      <video *ngFor="let video of works" id="{{video.id}}" src="{{video.src}}" autoplay muted loop></video>
    </div>
  </section>

  <app-section-mini-nav [currentSection]="'work'"></app-section-mini-nav>

  <section class="box">
    <div class="padding-content content text-white bg-pink-75">
      <h2>What I do ?</h2>
      <section id="works">
        <div *ngFor="let work of works" class="overflow-hidden" data-video-selected="video-1">
          <h3>{{work.title}}</h3>
          <p>{{work.description}}</p>
          <p>{{work.technologies}}</p>
          <p>
            You can find my code in
            <a href="{{work.link}}" target="_blank"
              class="link-light">GitHub</a>.
          </p>
        </div>
      </section>
    </div>
  </section>
</main>
<!-- MAIN end -->