@import "scss/utils/variables";
@import 'scss/components/navigation';
@import 'scss/components/footer';
@import 'scss/components/flip';
@import 'scss/components/box';

/* GLOBAL styles */
* {
  box-sizing: border-box;
  /* Customized scroll bar for firefox. */
  scrollbar-color: $darkRed rgba(255, 186, 215);
}

/* These are styles to costumize the scroll bar */
*::-webkit-scrollbar-track {
  background-color: rgba(255, 186, 215, 0.43);
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-thumb {
  background-color: $darkRed;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: roboto, sans-serif;
  height: 100vh;
  display: flex;
  /*
     * I use sizes for layout sections in vw or vh units, and when scrollbar is visible it breaks some layout parts.
     * I'm calculating the width of the body adding the scrollbar space to fix this.
     */
  width: calc(100% + (100vw - 100%));
  overflow-x: hidden;
}

.container {
  width: 100%;
  max-width: 1900px;
  margin: auto;
  padding: 6vw;
}

h1,
h2,
h3 {
  font-family: 'Rasa', serif;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 5px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  background-color: $darkRed;
  border: none;
  padding: 6px 25px;
  color: white;
  transition: background-color .2s ease-in-out, color .2s ease-in-out;
}

button:hover {
  background-color: $pink50;
  color: $darkRed;
}



/* HELPERS start */
.bg-pink-100 {
  background-color: $pink100;
}

.bg-pink-75 {
  background-color: $pink75;
}

.bg-pink-50 {
  background-color: $pink50;
}

.bg-pink-25 {
  background-color: $pink25;
}

.text-dark-red {
  color: $darkRed;
}

.text-white {
  color: white;
}

.overflow-hidden {
  overflow: hidden;
}

.display-none {
  display: none;
}

.link-dark {
  color: $darkRed;
  font-weight: 600;
}

.link-dark:hover {
  color: white;
}

.link-light {
  color: white;
  font-weight: 600;
}

.link-light:hover {
  color: $darkRed;
}

/* HELPERS end */



/*
 * Landscape desktop design
 * I want to detect if the user screen is in landscape or portrait to switch the box units 
 * because the box size depends on the view available space.
 */
@media all and (orientation: landscape) and (min-width: 769px) {
  .box {
    width: 76vh;
    max-width: 46vw;
    max-height: 46vw;
    height: 76vh;
  }

  .navigation .box {
    height: 38vh;
    width: 38vh;
    max-width: 23vw;
    max-height: 23vw;
  }

  header {
    width: 150vh;
    align-items: flex-end;
    min-height: 15vh;
  }

  footer {
    width: 150vh;
    min-height: 9vh;
  }

  .home-section {
    padding-top: 15vh;
  }

}



/* Desktop styles */
@media screen and (min-width: 769px) {

  /* Global */
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 4vw;
    height: 100vh;
  }

  main {
    display: flex;
    flex-basis: 100%;
    justify-content: center;
    position: relative;
  }

  main h2 a {
    font-size: 1.4rem;
  }

  /* HELPERS */
  .hide-content {
    display: none !important;
  }

  .box .padding-content {
    padding: 8% 11%;
  }

  /* HOME */
  .home-section h1 {
    font-size: 4.5rem;
    line-height: 4.2rem;
  }

  .home-section .box .content {
    padding: 0;
    align-items: flex-start;
  }
}



/* To work in IE11 */
@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {

  /* Put your IE-only styles here. Works for IS 10 & IE 11*/
  video {
    display: none;
  }
}