    <!-- MINI-NAVIGATION start-->
    <nav class="navigation mini-nav">

      <div *ngFor="let nav of navConfig" class="box">
        <a *ngIf="currentSection !== nav.link" routerLink="{{nav.link}}"
          class="content flip-card flip-{{nav.flipDirection}}">
          <span class="card-front bg-pink-{{nav.colorValue}}" title="{{nav.heading}}">
            {{nav.initial}}
          </span>
          <span class="card-back flip-{{nav.flipDirection}}" title="{{nav.heading}}">
            {{nav.initial}}
          </span>
        </a>
        <span *ngIf="currentSection == nav.link" class="content"></span>
      </div>
      
    </nav>
    <!-- MINI-NAVIGATION end-->